NEXT_PUBLIC_CLOUDFRONT_URL_IMAGES=""
NEXT_PUBLIC_CLOUDFRONT_URL_HOSTNAME=""
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""
FROM_EMAIL_ADDRESS=""
SES_IDENTITY_ARN="arn:aws:ses:us-east-1:<ACCOUNT_ID>:identity/<domain-or-email>"
SES_CONFIGURATION_SET_ARN="arn:aws:ses:us-east-1:<ACCOUNT_ID>:configuration-set/<name>"
CV_BUCKET_NAME=""
CV_BUCKET_ARN="arn:aws:s3:::<INSERT>"
NEXT_PUBLIC_GTM_ID="GTM-XXXXXXX"